<header class="bg-primary">
    <div class="container">
        <nav class="d-flex content-between items-center py-4">
            <a href="index.html">
                <img src="/assets/images/logo-white.png" style="width: 80px;" alt="logo-white">
            </a>
            <ul class="menu-md-lg d-flex">
                <li class="ps-16"><a class="h-5 text-light" href="/pages/product.html">系列鏡框</a></li>
                <li class="ps-16"><a class="h-5 text-light" href="/pages/store.html">門市據點</a></li>
                <li class="ps-16"><a class="h-5 text-light" href="/pages/blog.html">部落格</a></li>
                <li class="ps-16"><a class="h-5 text-light" href="/pages/fqa.html">常見問題</a></li>
            </ul>
        </nav>
    </div>
    <ul class="menu-sm d-none">
        <li class="text-center"><a class="text-light py-3" href="/pages/product.html">系列鏡框</a></li>
        <li class="text-center"><a class="text-light py-3" href="/pages/store.html">門市據點</a></li>
        <li class="text-center"><a class="text-light py-3" href="/pages/blog.html">部落格</a></li>
        <li class="text-center"><a class="text-light py-3" href="/pages/fqa.html">常見問題</a></li>
    </ul>
</header>

<!-- 紀錄：
1. 如果使用px-8在扣掉margin-right，會有x軸 
.menu-md-lg { margin-right: -32px; }


-->